examples/cloudinary-social-video-variations.poc.json
{
	"name": "Cloudinary POC — Social Video Variations (FB / TikTok / HubSpot)",
	"nodes": [
		{
			"parameters": {},
			"id": "a1b2c3d4-0001-4a01-9001-000000000001",
			"name": "Start",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 320]
		},
		{
			"parameters": {
				"resource": "upload",
				"operation": "uploadUrl",
				"url": "https://res.cloudinary.com/demo/video/upload/dog.mp4",
				"resource_type": "video",
				"additionalFields": {
					"public_id": "n8n_poc/source_reel",
					"tags": "n8n-poc,social-source"
				}
			},
			"id": "a1b2c3d4-0002-4a01-9001-000000000002",
			"name": "Upload Source Video",
			"type": "n8n-nodes-cloudinary.cloudinary",
			"typeVersion": 1,
			"position": [480, 320],
			"credentials": {
				"cloudinaryApi": {
					"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
					"name": "Cloudinary account"
				}
			}
		},
		{
			"parameters": {
				"resource": "transform",
				"operation": "multiStep",
				"transformPublicId": "={{ $('Upload Source Video').item.json.public_id }}",
				"type": "upload",
				"multiStepResourceType": "video",
				"transformSteps": {
					"step": [
						{ "stepType": "trim", "start": "", "end": "5", "duration": "" },
						{
							"stepType": "crop",
							"cropMode": "aspectRatio",
							"aspectRatio": "1:1",
							"focus": "auto",
							"width": 1080
						},
						{ "stepType": "optimize", "quality": "auto" }
					]
				}
			},
			"id": "a1b2c3d4-0003-4a01-9001-000000000003",
			"name": "Facebook (1:1, 5s)",
			"type": "n8n-nodes-cloudinary.cloudinary",
			"typeVersion": 1,
			"position": [760, 140],
			"credentials": {
				"cloudinaryApi": {
					"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
					"name": "Cloudinary account"
				}
			}
		},
		{
			"parameters": {
				"resource": "transform",
				"operation": "multiStep",
				"transformPublicId": "={{ $('Upload Source Video').item.json.public_id }}",
				"type": "upload",
				"multiStepResourceType": "video",
				"transformSteps": {
					"step": [
						{ "stepType": "trim", "start": "", "end": "5", "duration": "" },
						{
							"stepType": "crop",
							"cropMode": "aspectRatio",
							"aspectRatio": "9:16",
							"focus": "auto",
							"width": 1080
						},
						{ "stepType": "optimize", "quality": "auto" }
					]
				}
			},
			"id": "a1b2c3d4-0004-4a01-9001-000000000004",
			"name": "TikTok (9:16, 5s)",
			"type": "n8n-nodes-cloudinary.cloudinary",
			"typeVersion": 1,
			"position": [760, 320],
			"credentials": {
				"cloudinaryApi": {
					"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
					"name": "Cloudinary account"
				}
			}
		},
		{
			"parameters": {
				"resource": "transform",
				"operation": "multiStep",
				"transformPublicId": "={{ $('Upload Source Video').item.json.public_id }}",
				"type": "upload",
				"multiStepResourceType": "video",
				"transformSteps": {
					"step": [
						{ "stepType": "trim", "start": "", "end": "5", "duration": "" },
						{
							"stepType": "crop",
							"cropMode": "aspectRatio",
							"aspectRatio": "16:9",
							"focus": "auto",
							"width": 1280
						},
						{ "stepType": "optimize", "quality": "auto" }
					]
				}
			},
			"id": "a1b2c3d4-0005-4a01-9001-000000000005",
			"name": "HubSpot (16:9, 5s)",
			"type": "n8n-nodes-cloudinary.cloudinary",
			"typeVersion": 1,
			"position": [760, 500],
			"credentials": {
				"cloudinaryApi": {
					"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
					"name": "Cloudinary account"
				}
			}
		},
		{
			"parameters": {
				"resource": "transform",
				"operation": "videoThumbnail",
				"transformPublicId": "={{ $('Upload Source Video').item.json.public_id }}",
				"type": "upload",
				"thumbnailFrameMode": "time",
				"thumbnailTimestamp": "1",
				"thumbnailFormat": "jpg"
			},
			"id": "a1b2c3d4-0006-4a01-9001-000000000006",
			"name": "Facebook Poster (frame @1s, jpg)",
			"type": "n8n-nodes-cloudinary.cloudinary",
			"typeVersion": 1,
			"position": [1040, 140],
			"credentials": {
				"cloudinaryApi": {
					"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
					"name": "Cloudinary account"
				}
			}
		},
		{
			"parameters": {
				"resource": "transform",
				"operation": "videoThumbnail",
				"transformPublicId": "={{ $('Upload Source Video').item.json.public_id }}",
				"type": "upload",
				"thumbnailFrameMode": "auto",
				"thumbnailFormat": "jpg"
			},
			"id": "a1b2c3d4-0007-4a01-9001-000000000007",
			"name": "TikTok Poster (auto frame, jpg)",
			"type": "n8n-nodes-cloudinary.cloudinary",
			"typeVersion": 1,
			"position": [1040, 320],
			"credentials": {
				"cloudinaryApi": {
					"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
					"name": "Cloudinary account"
				}
			}
		},
		{
			"parameters": {
				"resource": "transform",
				"operation": "videoThumbnail",
				"transformPublicId": "={{ $('Upload Source Video').item.json.public_id }}",
				"type": "upload",
				"thumbnailFrameMode": "time",
				"thumbnailTimestamp": "4",
				"thumbnailFormat": "png"
			},
			"id": "a1b2c3d4-0008-4a01-9001-000000000008",
			"name": "HubSpot Poster (frame @4s, png)",
			"type": "n8n-nodes-cloudinary.cloudinary",
			"typeVersion": 1,
			"position": [1040, 500],
			"credentials": {
				"cloudinaryApi": {
					"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
					"name": "Cloudinary account"
				}
			}
		}
	],
	"connections": {
		"Start": {
			"main": [[{ "node": "Upload Source Video", "type": "main", "index": 0 }]]
		},
		"Upload Source Video": {
			"main": [
				[
					{ "node": "Facebook (1:1, 5s)", "type": "main", "index": 0 },
					{ "node": "TikTok (9:16, 5s)", "type": "main", "index": 0 },
					{ "node": "HubSpot (16:9, 5s)", "type": "main", "index": 0 }
				]
			]
		},
		"Facebook (1:1, 5s)": {
			"main": [[{ "node": "Facebook Poster (frame @1s, jpg)", "type": "main", "index": 0 }]]
		},
		"TikTok (9:16, 5s)": {
			"main": [[{ "node": "TikTok Poster (auto frame, jpg)", "type": "main", "index": 0 }]]
		},
		"HubSpot (16:9, 5s)": {
			"main": [[{ "node": "HubSpot Poster (frame @4s, png)", "type": "main", "index": 0 }]]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"pinData": {},
	"meta": {
		"templateCredsSetupCompleted": false
	},
	"versionId": "a1b2c3d4-0000-4a01-9001-0000000000ff"
}
